
<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Money Laundering Fraud Detection: Avoiding RICO Statutes</title>

  <meta name="description" content="Fraud Detection for Events">
  <meta name="author" content="AK-47, BAG, Wildcard">

</head>

<body>

  <h1>Do you have a Fraudster on Your Hands?</h1>

  <span style="color: blue; font-weight: bold;">Your Event</span>
  <p>{{ _id }}</p>
  <span style="color: blue; font-weight: bold;">Investigate for Fraud?</span>
  <p>{{ predicted }}</p>

</body>
</html>
