<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Money Laundering Fraud Detection: Avoiding RICO Statutes</title>

  <meta name="description" content="Fraud Detection for Events">
  <meta name="author" content="AK-47, BAG, Wildcard">

</head>

<body>

  <h1>You know when you are trying to encourage non-profit stuff and some jerk uses your site for money laundering cause organized crime or something?</h1>
  <p>This application looks at each "event" to determine whether you have scammers or scummers using your platform for evil. They are bad. You don't have to be. Use our API. Don't be a jerk.
  To use our api just enter your credit card information, SSN, mother's maiden name, street you grew up on, high school mascot, & first pet's name.
  That is an example of a scam. I hope you don't fall for it. BAM, pay us a million dollars and we'll save you some jail time.

  This reminds me of one time where the CEO of lifelock televised his SSN on national TV to dare people to steal his identity. People did. He used the $1M insurance policy.

  This isn't the same thing. We hope you enjoy the show.</p>
  <p>P.S. This will save you exactly $104,397,221</p>

  <form action="/predict" method='POST' >
      <button type="submit">Investigate for Fraud</button>
  </form>

</body>
</html>
